body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #30353d;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    color:#4290f7;
    background-color: #121418;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #4290f7 5px solid;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    color: #4290f7;
    font-size: 18px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0px;
}

header nav{
    float: right;
    margin-top: 30px;
}